@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root
{
    --White: hsl(0, 0%, 100%);
    --Lightpink: hsl(275, 100%, 97%);
    --Grayishpurple: hsl(292, 16%, 49%);
    --Darkpurple: hsl(292, 42%, 14%);
}
body
{
    font-size: 62.5%;
    min-height: 100vh;
    background: var(--Lightpink);
    font-family: 'Work Sans', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;

}
p,h1,h2,h3,h4,h5,h6
{
    text-wrap: break-word;
}
.img
{
    position: absolute;
    top: 0;
    min-height: 35vh;
    width: 100%;
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-position: center;
    background-size: cover;
}
main
{
    min-width: 440px;
    max-height: 440px;
    background: var(--White);
    height: auto; 
    width: 28rem;
    box-shadow: 5px 5px 10px #6d6a7212; 
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1.5rem;
    margin: 2rem auto; 
    z-index: 1;
}
.headInc
{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .9rem;
}
.headInc h1
{
    font-size: 2rem;
    font-weight:700;
}
.question-box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questions p
{
    font-size: .8rem;
    font-weight: 600;
    cursor: pointer;
}
.questions p:hover
{
    /* color:var(--Darkpurple); */
    color: blueviolet;
}
.answer
{
    margin:10px 0 10px 0 ;
    
}
.answer p
{
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    word-spacing: 1;
}
.Icon
{
    cursor: pointer;
}
.hidden
{
    display: none;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
@media only screen and (max-width:440px)
{
    main
    {
        min-width: calc(100% - 20px); /* Adjusted to consider 10px margin on each side */
        max-width: calc(100% - 20px); /* Adjusted to consider 10px margin on each side */
        width: auto;
        margin: 2rem 2rem;
        height: auto;
    }
    
}
